 body,
 html {
 	height: 100%;

 }

 body {
 	background-image: url(../media/background.png);
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
 	background-position: center center;
 	background-color: #000;
 	padding-top: 50px;
 }

 th {
 	width: 16.66px !important;
 }

 a {
 	text-decoration: none !important;
 }

 .nav-link {
 	color: #34495E;
 }

 .navbarColor {
 	background-image: linear-gradient(to right, rgb(0, 35, 111), rgb(54, 104, 221));
 	border-bottom: 1px solid black;
 }

 .footerColor {
 	background-image: linear-gradient(to right, rgb(0, 35, 111), rgb(54, 104, 221));
 	padding-bottom: 1rem !important;
 	padding-top: 1rem !important;
 	border-top: 1px solid black;
 }

 .logo-nav {
 	width: 15%;
 }

 .cadastrarDets {
 	background-color: #fff;
 }

 .logo-card {
 	width: 100%;
 	padding-top: 15%;
 }

 .logo {
 	height: fit-content;
 	width: 70%;
 	position: relative;
 	margin: 0 auto;
 	text-align: center;
 	border-radius: 45px;
 	box-shadow: 0 0 50px -5px rgb(9, 25, 255);
 }

 .logo img {
 	width: 90%;
 	padding-top: 10px;
 }

 .nav-nome {
 	width: 50%;
 }

 .returnoBtn {

 	position: absolute;
 	top: 3px;
 	left: 3px;
 	padding: 0;

 }

 .uploadBtn {
 	font-size: 90%;
 }

 .returnoImagem {
 	width: 32px;
 	height: 32px;
 }

 .inner-text {
 	color: red;
 }

 /*.botoes-grupo-label {
 	color: #fff;
 	padding: 5px;
 	margin: auto;
 	
 	opacity: 0.9;
 	width: fit-content;
 	border: 1px solid #000;
 	border-radius: 5px;
 }*/

 .botoes-grupo {
 	width: 80%;
 	padding: 10px;
 	text-align: center;
 	background-image: linear-gradient(to right, rgb(0, 35, 111), rgb(54, 104, 221));
 	opacity: 0.95;
 	border-radius: 5px;
 	margin: auto;
 	box-shadow: 0 0 50px -5px rgb(9, 25, 255);
 }

 .figuras {
 	padding: 3px;
 	margin: auto;
 	width: 40%;
 	display: block;
 }

 .formulario {
 	margin: auto;
 	width: 90%;
 }

 .box-w {
 	background-color: #fff;
 	width: 80%;
 	margin: 5px;
 }

 .entrada {
 	padding: 5px;
 }



 .tabela-principal {
 	width: 95%;
 	margin-right: auto;
 	margin-left: auto;
 	text-align: center;
 }



 .push {
 	margin-bottom: 50px;
 }

 .quadroDados {
 	position: relative;
 	width: 10%;

 	margin: auto;
 }

 .quadroProjecao {
 	position: relative;
 	width: 80%;

 	margin: auto auto 20px auto;

 }

 .resetCenter {
 	flex-direction: inherit;
 }

 .quadroProbUniforme {
 	position: relative;

 	width: 75%;
 	margin: 0 auto;
 	padding-bottom: 15%;
 }



 .quadroProbBinomial {
 	position: relative;

 	width: 75%;
 	margin: 0 auto;
 	padding-bottom: 15%;
 }

 .quadroProbNormal {
 	position: relative;

 	width: 75%;
 	margin: 0 auto;
 	padding-bottom: 15%;
 }

 .quadroDadosCorrelacao {
 	position: relative;
 	width: 80%;
 	margin: auto auto 20px auto;
 }

 #myFile {
 	width: 90%;
 }


 #alteraveis {
 	display: inline-flex;
 }

 #xAlteravel {
 	width: 45%;
 	margin: auto;
 }

 #yAlteravel {
 	width: 45%;
 	margin: auto;
 }

 #nome {
 	color: #fff;
 	font-size: 200%;
 	text-shadow: 0 0 3px #48a0dc;
 }

 #passReset {
 	color: #000;
 	font-weight: bold;
 }

 #graficoContainer {
 	width: 90%;
 	margin: auto;
 }

 #graficoDescritiva {
 	width: 90%;
 	margin: auto;
 }

 #containerGrafico {
 	width: 90%;
 	margin: auto;
 	box-sizing: content-box;

 }

 #rowDados {
 	padding-bottom: 15%;
 }

 #rowDadosProbabilidade {
 	text-align: center;
 }

 #separatrizNumberInput {
 	width: 30%;
 	display: inline-block;
 }

 #condicoes {
 	width: 45%;
 }

 #condicoesBinomial {
 	width: 45%;
 	display: none;
 }

 #condicoesNormal {
 	display: none;
 }

 #quantidade {
 	width: 45%;
 	margin: 0;
 	display: inline-block;
 	margin-bottom: 1rem;
 	float: right;
 }

 #tamanhoN {
 	width: 45%;
 	margin: 0;
 	float: right;
 	display: none;
 }

 #binomialForm1 {
 	display: none;
 	width: 100%;
 }

 #binomialForm2 {
 	display: none;
 	width: 100%;
 }

 #normalForm {
 	display: none;
 	width: 100%;
 }

 #minMaxForm {
 	display: block;
 	width: 100%;
 }

 #entreForm {
 	display: none;
 	width: 100%;
 }


 #media {
 	width: 45%;
 	display: inline-block;
 }

 #desvioPadrao {
 	width: 45%;
 	display: inline-block;
 	float: right;
 }

 #sucesso {
 	width: 45%;
 	display: inline-block;
 }

 #fracasso {
 	width: 45%;
 	display: inline-block;
 	float: right;
 }

 #variavel {
 	width: 45%;
 	display: inline-block;
 }

 #ateMax {
 	width: 45%;
 	display: inline-block;
 	float: right;
 }

 #pontoMinimo {
 	width: 45%;
 	display: inline-block;
 }



 #pontoMaximo {
 	width: 45%;
 	display: inline-block;
 	float: right;
 }

 #x {
 	width: 45%;
 	display: inline-block;
 }

 #y {
 	width: 45%;
 	display: inline-block;
 	float: right;
 }



 #calcularBinomial {
 	display: none;
 }

 #calcularNormal {
 	display: none;
 }

 .form-check {
 	padding-left: 0.25rem;
 }

 @media(min-width:550px) {
 	.logo {
 		width: 450px;
 		height: 160px;
 	}

 	.formulario {
 		margin: auto;
 		width: 75%;
 	}
 }

 @media(min-width: 768px) {
 	.formulario {
 		margin: auto;
 		width: 450px;
 	}

 	.quadroProbUniforme {
 		width: 450px;
 	}

 	.quadroProbBinomial {
 		width: 450px;
 	}

 	.quadroProbNormal {
 		width: 450px;
 	}

 	.quadroDadosCorrelacao {
 		position: relative;
 		width: 350px;
 	}

 	.quadroProjecao {
 		position: relative;
 		width: 350px;
 	}

 	#passResetForm {
 		width: 335px;
 		height: 315px;

 	}

 	#innerFormReset {
 		width: 100%;
 		position: relative;

 	}
 }

 @media(min-width: 992px) {
 	.logo-nav {
 		width: 15%;
 		padding-right: 10px;
 	}
 }

 @media(max-width: 375px) {
 	.returnoImagem {
 		width: 25px;
 		height: 25px;
 	}
 }

 @media(max-width: 550px) {
 	.logo {
 		width: 95%;
 	}
 }

 @media(max-width: 992px) {
 	.logo-nav {
 		margin-right: 10px;
 	}
 }